<div class="md-header-trustbar{% if section.settings.hide_trustbar_mobile %} md-header-trustbar--hide-mobile{% endif %}">
  <div class="md-header-trustbar__inner" style="max-width: var(--md-header-max-width); margin: 0 auto; padding: 0 1rem;">
    {{ section.settings.trustbar_text | escape }}
  </div>
</div>
